async-timeout==5.0.1
chardet==3.0.4
coreapi==2.3.3
cryptography==45.0.6
Django==4.2.16
django-allauth==0.55.0
django-cors-headers==3.5.0
django-extensions==3.2.3
django-filter==2.4.0
django-rest-auth==0.9.5
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
docker==7.1.0
drf-yasg==1.21.7
flex==6.14.1
fqdn==1.5.1
holdup==1.8.0
jaraco.collections==5.1.0
kubernetes==11.0.0
pathtools==0.1.2
platformdirs==4.2.2
psycopg2-binary==2.8.4
pyparsing==2.4.7
ruamel.yaml==0.16.12
swagger-spec-validator==2.5.0
tomli==2.0.1
pygraphviz==1.5
uWSGI==2.0.22
