.anticon-global, .prefixIcon {
  margin-right: 6px;
}

.ant-pro-layout-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.ant-page-header {
  background-color: #2d3f49 !important;
}

.ant-pro-sider-footer {
  padding-block-end: 0 !important;
}

.ant-layout-sider-children {
  padding-inline: 0 !important;
}

.ant-form {
  padding-top: 10px;
  padding-bottom: 15px;
}
