.ant-pro-form-login-title, .ant-tabs-tab-btn, .anticon-global, .lang-text, .ant-breadcrumb-link, .ant-page-header-heading-title {
  color: #ffffff !important;
}

.anticon-global {
  margin-right: 6px;
}

.prefixIcon {
  margin-right: 6px;
}

.ant-pro-layout-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.ant-page-header {
  color: #fff !important;
  background-color: #2d3f49 !important;
}
